   h1{
	color:blue;
	font-size: 100px;
	font-family: mistral;
	text-align: center
}
	
h2{
	color:#cc0e0e;
	font-size: 55px;
	text-decoration: underline; /* para que la imagen ocupe toda la sección */
	font-family: arial;
	text-align: left;
}

h3{
	color: white;
	font-size: 45px;
	font-family: arial;
	text-align: center;
}

h4{
	color: black;
	font-size: 70px;
	text-decoration: underline;
}

p{
	font-size: 40px; 
	color:black;
	font-family: helvetica;
	text-align:justify;
}

section{
	background-image: url(artesano.jpg);
	background-size: cover;
} /* uso del elementos section para sustituir a div */

div{
	background-image: url(ajedrez.jpg);
	background-size: cover;
	filter: brightness(1.3); /* uso de esta propiedad para agregarle brillo a la imagen*/
}

.justificado{
	text-align:justify
}	

.negrita{
	font-weight:bold
}

.box{
	width: 800px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 25px; /* utilizo esta propiedad para conseguir un borde redondeado en la imagen */
	margin: 25px;
	background-color: #9ecfeb
}

.container{
	width: 800px;
	height: 300px;
	margin: 10px;
	border-radius: 25px;
}

.caja{
	width: 800px;
	height: 450px;
	margin: 10px;
	border-radius: 25px;
}

.barra{
    width: 400px;
	height: 50px;
	border: 5px solid black;
	background: linear-gradient(to right, blue 50%, transparent 50%); /*esta propiedad aplica un gradiente a la barra en la que se observa el color azul y blanco */
}

.color{
	background: linear-gradient(to right, #ebd29e, 80%, white);
}


h3:active{
	color:red
} /* Utilizo la pseudo-clase active para aplicar cambiar al rojo el texto h3 cuando se pulsa en él */

h3:hover{
	font-size:100px
}

h2:hover{
	background-color:#7ec655
}

h4:active{
	color:#f80c0c
}

#letra{
	font-size: 60px
}


#box1{
	width: 150px;
	height: 100px;
	margin: 10px;
	border-radius: 25px;
	background-color: #f3e727;
	float: left; /* Uso de la propiedad float para colocar las cajas en la parte izquierda */
	text-align: center
}


#box2{
	width: 175px;
	height: 100px;
	margin: 10px;
	border-radius: 25px;
	background-color: #f3e727;
	float: right; /* Uso de la propiedad float para colocar las cajas en la parte derecha */
	text-align: center
}
